@use '../tools/functions' as *;
@forward '../tools/functions';

// ----------------------------------------------------------------------
// Font
// ----------------------------------------------------------------------
$font-family-root: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
$font-family-gmarket: "GmarketSans", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Apple SD Gothic Neo", sans-serif;
$font-size-root: 16px !default;
$line-height-root: 1.5 !default;
$scrollbar-width-px: 8px;
$scrollbar-width: 8;

// max-width
$mobile-max-width: 840px;

